<div class="container shadow bg-light p-2 my-5">
	<!-- SUBMISSION CREATION -->
	<div class="container">
		<div class="row">
			<div class="col-6 mx-auto">
				<h2 class="display-4 text-center m-4">Fill out the form with the correct types of words</h2>
				<form (ngSubmit)="createSubmission()" #thisForm="ngForm">
					<!-- INPUT FIELDS -->
					<div class="form-group">
						<input [(ngModel)]="submission.noun1" #submissionNoun1="ngModel" name="inputNoun1" id="inputNoun1" type="text" placeholder="Noun" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.noun2" #submissionNoun2="ngModel" name="inputNoun2" id="inputNoun3" type="text" placeholder="Noun" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.noun3" #submissionNoun3="ngModel" name="inputNoun3" id="inputNoun3" type="text" placeholder="Noun" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.noun4" #submissionNoun4="ngModel" name="inputNoun4" id="inputNoun4" type="text" placeholder="Noun" class="form-control border-0 shadow px-4" required>
                    </div>

                    <div class="form-group">
						<input [(ngModel)]="submission.verb1" #submissionVerb1="ngModel" name="inputVerb1" id="inputVerb1" type="text" placeholder="Verb" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.verb2" #submissionVerb2="ngModel" name="inputVerb2" id="inputVerb2" type="text" placeholder="Verb" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.verb3" #submissionVerb3="ngModel" name="inputVerb3" id="inputVerb3" type="text" placeholder="Verb" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.verb4" #submissionVerb4="ngModel" name="inputVerb4" id="inputVerb4" type="text" placeholder="Verb" class="form-control border-0 shadow px-4" required>
                    </div>
                    
                    <div class="form-group">
						<input [(ngModel)]="submission.adjective1" #submissionAdjective1="ngModel" name="inputAdjective1" id="inputAdjective1" type="text" placeholder="Adjective" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.adjective2" submissionAdjective2="ngModel" name="inputAdjective2" id="inputAdjective2" type="text" placeholder="Adjective" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.adjective3" #submissionAdjective3="ngModel" name="inputAdjective3" id="inputAdjective3" type="text" placeholder="Adjective" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.adjective4" #submissionAdjective4="ngModel" name="inputAdjective4" id="inputAdjective4" type="text" placeholder="Adjective" class="form-control border-0 shadow px-4" required>
                    </div>
                    
                    <div class="form-group">
						<input [(ngModel)]="submission.adverb1" #submissionAdj3="ngModel" name="inputAdverb1" id="inputAdverb1" type="text" placeholder="Adverb" class="form-control border-0 shadow px-4" required>
					</div>
					<div class="form-group">
						<input [(ngModel)]="submission.adverb2" #submissionAdj4="ngModel" name="inputAdverb2" id="inputAdverb2" type="text" placeholder="Adverb" class="form-control border-0 shadow px-4" required>
					</div>

					<!-- BUTTONS -->
					<div class="container col-8 my-5">
						<button class="btn btn-success btn-block shadow" type="submit">Submit</button>
						<button class="btn btn-warning btn-block shadow" type="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
